li{
    font-size: 20px;
}
.carousel-caption h5, p{
    font-size: 50px;
    color: rgb(249, 249, 250);
}
p{
    font-size: 14px;
    color: black;
}
.card img{
    width: 40%;
}
.card-body h1{
    font-size: 15px;
}
.modal-body h3{
    font-size: 25px;
}
#login{
    width: 800px;
    margin-top: 45px;
    margin-left: 250px;
    border: solid;
}
.mb-3 a{
    color: black;
}
.card-body h3{
    color: white;
}
#login h1{
    color: white;
}
.form{
    border-radius: 10px;
}
#advertencia li{
    font-size: 15px;
}
#advertencia{
    background-color: #D9D9D9;
}
#advertencia ul{
    list-style: none;
}